{% extends 'base.html' %}

{% block title %}Drive{% endblock %}

{% block nav_sidebar %}
  {% include 'new_sidebar.html' with active="create_drive" %}
{% endblock %}

{% block content %}

<div class="cotainer">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <div class="card">

              <div class="card-header text-center bg-red"><h2>Add Drive</h2></div>
              
              <form method="POST" action = "{% url 'create_drive' %}">
                  {% csrf_token %}
                  <div class="card-body">
                      <div class="form-group row">
                          <label for="name" class="col-md-4 col-form-label text-md-right">Name of Company:</label>
                          <div class="col-md-6">
                              <input type="text" id="name" name="name" class="form-control" required>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="drive_type" class="col-md-4 col-form-label text-md-right">Drive Type:</label>
                          <div class="col-md-6">
                              <select required class="form-select" id="drive_type" name="drive_type" required>
                                <option value="1">Virtual</option>
                                <option value="2">On Campus</option>
                                <option value="3">Off Campus</option>
                              </select>
                          </div>
                      </div>
                      

                      <div class="form-group row">
                          <label for="drive_on" class="col-md-4 col-form-label text-md-right">Drive Date:</label>
                          <div class="col-md-6">
                              <input type="date" id="drive_on" name="drive_on" class="form-control" required>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="stream_required" class="col-md-4 col-form-label text-md-right">Drive For:</label>
                          <div class="col-md-6">
                              <select required class="form-select" id="stream_required" name="stream_required" required>
                                <option value="1">MCA</option>
                                <option value="2">BCA</option>
                                <option value="3">B Tech</option>
                              </select>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="batch_year" class="col-md-4 col-form-label text-md-right">Batch Year:</label>
                          <div class="col-md-6">
                              <input type="number" id="batch_year" name="batch_year" class="form-control">
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="eligibility" class="col-md-4 col-form-label text-md-right">Eligibility:</label>
                          <div class="col-md-6">
                              <input type="number" id="eligibility" name="eligibility" class="form-control">
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="position" class="col-md-4 col-form-label text-md-right">Position:</label>
                          <div class="col-md-6">
                              <input type="text" id="position" name="position" class="form-control">
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="job_profile" class="col-md-4 col-form-label text-md-right">Job profile:</label>
                          <div class="col-md-6">
                              <input type="text" id="job_profile" name="job_profile" class="form-control">
                          </div>
                      </div>
                      
                      <div class="form-group row">
                          <label for="job_type" class="col-md-4 col-form-label text-md-right">Job Type:</label>
                          <div class="col-md-6">
                              <select required class="form-select" id="job_type" name="job_type">
                                  <option value="1">WFH</option>
                                  <option value="2">Full Time</option>
                                  <option value="3">Internship</option>
                              </select>
                          </div>
                      </div>

                      <div class="form-group row">
                        <label for="job_location" class="col-md-4 col-form-label text-md-right">Job location:</label>
                        <div class="col-md-6">
                            <input type="text" id="job_location" name="job_location" class="form-control">
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="date_of_joining" class="col-md-4 col-form-label text-md-right">Date of joining (YYYY-MM-DD):</label>
                          <div class="col-md-6">
                              <input type="date" id="date_of_joining" name="date_of_joining" class="form-control" required>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="package" class="col-md-4 col-form-label text-md-right">Stipend/Package:</label>
                          <div class="col-md-6">
                              <input type="text" id="package" name="package" class="form-control">
                          </div>
                      </div>

                      <div class="form-group row d-flex justify-content-center">
                          <h4>{{message}}</h4>
                      </div>

                      
                      <div class="col-md-3 float-right">
                          <button type="submit" class="btn btn-danger">Add Drive</button>
                      </div>

                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
