{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block nav_sidebar %}
  {% include 'new_sidebar.html' with active="announcements" %}
{% endblock %}

{% block content %}

<div class="cotainer">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card">

              <div class="card-header text-center bg-red"><h2>Announcements</h2></div>

              <div class="card-body" style="overflow-x:auto;">
                <table class="table table-inline table-hover table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in announcements %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.title}}</td>
                        <td>{{i.description}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
